@model IEnumerable<Projeto_ASP.NET_Core_ATEC.ViewModels.ContratoClienteAtivoViewModel>

@{
    ViewData["Title"] = "Contratos Ativos do Cliente";
}

<h1>Contratos Ativos do Cliente</h1>

<table class="table">
    <thead>
        <tr>
            <th>Número do Contrato</th>
            <th>Descrição</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contrato in Model)
        {
            <tr>
                <td>@contrato.NumeroContrato</td>
                <td>@contrato.Descricao</td>
                <td>@contrato.DataInicio.ToShortDateString()</td>
                <td>@contrato.DataFim?.ToShortDateString()</td>
                <td>@contrato.Valor.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-secondary btn-block w-100 py-2" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
</div>