@model IEnumerable<Projeto_ASP.NET_Core_ATEC.ViewModels.HistoricoFaturacaoViewModel>

@{
    ViewData["Title"] = "Histórico de Faturação";
}

<h1>Histórico de Faturação</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Cliente</th>
            <th>Número do Contrato</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomeCliente</td>
                <td>@item.NumeroContrato</td>
                <td>@item.DataInicio.ToShortDateString()</td>
                <td>@item.DataFim.ToShortDateString()</td>
                <td>@item.Valor.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-secondary btn-block w-100 py-2" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
</div>